<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FFA Contest Registration</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <!-- IMPORTANT KEEP THE ABOVE LINK, IT IS THE STYLES FROM BOOTSTRAP -->
</head>
<body>
{% include 'includes/_navbar.html' %}
<div class="container">
{% block body %}{% endblock %}
</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <!-- IMPORTANT KEEP THE ABOVE LINK, THIS LINKS THE JAVASCRIPT FROM BOOTSTRAP.
</body>
</html>